body,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(209, 92%, 88%);
  color: rgb(36, 29, 133);
  /* font-family: Helvetica, sans-serif; */
  /* font-family: 'Shadows Into Light Two', cursive; */
  font-family: "Sue Ellen Francisco", cursive;
  overflow: hidden;
  /* Prevent double scroll */
  width: 100vw;
  height: 100vh;
}

.volver {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 200;
}

.volver-a {
  text-decoration: none;
  color: hsl(209, 92%, 28%);
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

#book {
  background: url(img/bookgris.png);
  position: absolute;
  width: 830px;
  height: 624px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* Center Perfectly */
  box-shadow: 0px 20px 20px -5px rgba(0, 0, 0, 0.4);
}

#pages section {
  background: url(img/papel.png) no-repeat;
  display: block;
  width: 400px;
  height: 614px;
  position: absolute;
  left: 415px;
  top: 5px;
  overflow: hidden;
}

#pages section>div {
  display: block;
  width: 400px;
  height: 614px;
  font-size: 20px;
}

#pages section p,
#pages section h2 {
  padding: 3px 35px;
  line-height: 1.2em;
  text-align: justify;
}

#pages section .ingredientes-p {
  margin-left: 15px;
  padding: 0 35px;
}

#pages section h2 {
  margin: 15px 0 10px;
}

#pageflip-canvas {
  position: absolute;
  z-index: 100;
}

.siguiente {
  display: flex;
  justify-content: flex-end;
  font-family: "Shadows Into Light Two", cursive;
}

.cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.num,
.indice-num {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 35px;
  border: 2px solid rgb(36, 29, 133);
  border-radius: 50%;
}

.recetario {
  margin-top: 15px;
}

.indice-receta {
  display: flex;
  align-items: center;
}

.indice-num {
  width: 30px;
  height: 30px;
  margin-left: 35px;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 18px;
}

/* Responsividad para móviles */
@media (max-width: 850px) {
  #book {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

@media (max-width: 750px) {
  #book {
    transform: translate(-50%, -50%) scale(0.85);
  }
}

@media (max-width: 650px) {
  #book {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

@media (max-width: 550px) {
  #book {
    transform: translate(-50%, -50%) scale(0.75);
  }
}

@media (max-width: 450px) {
  #book {
    transform: translate(-50%, -50%) scale(0.65);
    /* Pixel 7a (~412px wide) */
  }
}

@media (max-width: 400px) {
  #book {
    transform: translate(-50%, -50%) scale(0.6);
  }
}

@media (max-height: 500px) and (orientation: landscape) {
  #book {
    transform: translate(-50%, -50%) scale(0.4);
  }
}

/* Ajustes para el botón Volver en móviles */
@media (max-width: 600px) {
  .volver {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 20px;
  }

  .volver-a {
    position: static;
    display: inline-block;
    padding: 8px 12px;
    background: rgba(36, 29, 133, 0.05);
    /* Subtle highlight */
    border-radius: 5px;
  }
}