body,
h2,
p {
  margin: 0;
  padding: 0;
  background-color: hsl(209, 92%, 88%);
}

body {
  overflow: hidden;
  /* Prevent scrolls on landing */
}

.contenedor {
  background: transparent;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sombra {
  width: 300px;
  height: 575px;
  box-shadow: -20px -10px 40px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  /* SPINE COLOR FALLBACK */
}

.libro-contenedor {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.portada {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titulo {
  font-family: "Sue Ellen Francisco", cursive;
  font-size: 3rem;
  color: rgb(36, 29, 133);
  width: 200px;
  height: 100px;
  position: absolute;
  left: 50px;
  /* Centered relative to the 300px width minus title width (200px / 2 = 100, 150-100=50) */
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(hsl(209, 82%, 88%) 95%, hsl(209, 62%, 68%) 95%);
  background-size: 100% 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .sombra {
    transform: scale(0.85);
  }
}

/* Specific adjustment for very narrow screens like Pixel 7a in portrait */
@media (max-width: 400px) {
  .sombra {
    width: 240px;
    height: 460px;
  }

  .titulo {
    font-size: 2rem;
    width: 150px;
    left: -200px;
    top: 80px;
  }
}